{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2 class="page-header text-center">Fotos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id da Foto</th>
                <th>Imagem</th>
                <th>Descrição da Foto</th>
                <th>Enviada em</th>
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for form_lista_foto in form_lista_foto %}
            {{ form_lista_foto.as_p }}
            <tr>
                <td>{{ form_lista_foto.id }}</td>
                <td>{{ form_lista_foto.upload }}</td>
                <td>{{ form_lista_foto.description }}</td>
                <td>{{ form_lista_foto.uploaded_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-white bg-gradient-danger">Nenhuma Foto</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div class="btn-group">
            <a type="button" class="btn btn-primary" href="#">Nova Foto</a>
        </div>
        <div class="btn-group">
            <a type="button" class="btn btn-dark" href="#">Voltar</a>
        </div>
    </div>
</div>

{% endblock content %}