{% extends 'base.html' %}

{% block content %}

<div class="col-12 my-5">

    <div class="col-12 text-center">

        <h2>Envie sua foto para o casal</h2>

    </div>

    <div class="form-row justify-content-center mb-5">

        <div class="col-sm-12 col-md-10 col-lg-10">

            <div class="form-row justify-content-center">

                <div class="form-group">

                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Imagem</th>
                                <th>Descrição da Foto</th>
                                <th>Criada em</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% csrf_token %}
                            {% for form_lista_foto in form_lista_foto %}
                            {{ form_lista_foto.as_ }}
                            <tr>
                                <td>{{ form_lista_foto.id }}</td>
                                <td>{{ form_lista_foto.upload }}</td>
                                <td>{{ form_lista_foto.description }}</td>
                                <td>{{ form_lista_foto.uploaded_at }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-white bg-gradient-danger">Nenhuma Foto</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>

            <div class="form-row justify-content-center">

                <div class="form-group">

                    <div class="btn-group">
                        <a type="button" class="btn btn-primary" href="{% url 'upload_foto' %}">Nova Foto</a>
                    </div>

                    <div class="btn-group">
                        <a type="button" class="btn btn-dark" href="{% url 'home' %}">Voltar</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock content %}