{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 my-5">

  <div class="col-12 text-center">

    <h2>Envie sua foto para o casal</h2>

  </div>

  <div class="form-row justify-content-center mb-5">

    <div class="col-sm-12 col-md-10 col-lg-8">

      <form method="POST" action="" enctype="multipart/form-data">

        <div class="form-row justify-content-center">

          <div clas="form-group">

            {% csrf_token %}

            {{ form_upload_foto|crispy }}

          </div>

        </div>

        <div class="form-row justify-content-center">

          <div clas="form-group">

            <button type="submit" class="btn btn-primary">Enviar Foto</button>

            <div class="btn-group">

              <a type="button" class="btn btn-dark" href="{% url 'home' %}">Voltar</a>

            </div>

          </div>

        </div>

      </form>

    </div>

  </div>

  </div>

</div>

{% endblock %}